<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<title>November :: Set up</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.min.css}"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" />
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col">
				<h2>Set up</h2>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<form th:action="@{/setup/init}">
					<div class="form-group">
					</div>
				</form>
			</div>
		</div>

	</div>

	<script th:src=@{/webjars/jquery/3.0.0/jquery.min.js}
		src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script th:src="@{/webjars/popper.js/1.14.1/popper.min.js}"
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.1/umd/popper.min.js"></script>
	<script th:src="@{/webjars/bootstrap/4.1.1/js/bootstrap.min.js}"
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
	<script th:src="@{/webjars/vue/2.5.13/vue.min.js}"
		src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</body>

</html>